$primary: #3DD68C;
$primary-fixed: #6BFDaf;
$primary-glow: rgba(61, 214, 140, 0.15);

$secondary: #53DBCA;
$tertiary-fixed-dim: #53DBCA;

$background: #090B0A;
$surface: #121E18;
$surface-container-high: #202D26;
$surface-container-low: #121E18;
$surface-variant: #2B3831;

$text-primary: #D8E6DC;
$on-tertiary: #003732;

$border: #243129;
$outline: #869488;
$border-glow: rgba(61, 214, 140, 0.1);
$shadow-glow: rgba(61, 214, 140, 0.4);

